.nested-fields.pull-left
  .img-thumbnail.preview_wrap
    = f.input_field :image, as: :image_preview, preview_version: :thumb, class: 'file_upload', label: false 
    %img.preview
  = link_to_remove_association raw("<small><strong><p class='text-danger text-center'>Remove</p></small></strong>"), f, {class: 'clearfix'}