%li.nested-fields.pull-left
  .img-thumbnail.preview_wrap
    = f.input_field :image, as: :image_preview, preview_version: :thumb, class: 'file_upload', label: false 
    =# f.input_field :position, as: :hidden
    %img.preview
  = link_to_remove_association "Remove", f, {class: 'clearfix btn btn-danger btn-xs'}
