/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
$brand-primary: #262668;

@import "bootstrap";
@import "pages";
@import "carts";
@import "main";
@import "orders";
@import "products";
@import "fancybox";

@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Kelly Slab'), local('KellySlab-Regular'), url(http://fonts.gstatic.com/s/kellyslab/v6/gKqKZ8BbpAcxgFwZImcomxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}


 /* Custom container */
.container-fixed {
  margin: 0 auto;
  max-width: 980px;
  padding: 10px;
}

.navbar{
  margin-bottom:0px;
}

#search_form{
  width:200px;
}

.navbar-center>a {
        float: none;	
}

.font_0 {
    font: 50px/1.1em "kelly slab",fantasy;
}

.font_4 {
    font: 35px/1.3em "kelly slab",fantasy;
}

.header,.footer{
    background-color: $brand-primary;
    margin-bottom: 10px;
    color: white;
	padding: 10px;
	text-align: center;
}

.logo{
	width:100%;
}