// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shadow {
  //border: 1px solid rgb(221, 221, 221);
 // -moz-box-shadow:    2px 2px 6px rgb(221, 221, 221);
  //-webkit-box-shadow: 2px 2px 6px rgb(221, 221, 221);
  //box-shadow:         2px 2px 6px rgb(221, 221, 221);
//  padding: 5px;
//  margin:10px;
margin-bottom:20px;
  position: relative;
  width: 100%;
//  float:left;
//  height: 260px;
}

.shadow  .price{
	height: 50px;
//	padding-top:5px;
//  position: absolute;
//  bottom:10px;
  //left: 0px;
  //right: 0px;
  padding-bottom: 10px;
}

.shadow  .name{
	height: 45px;
  color: #38B0E3;
  font-weight: bold;
//  margin-bottom: 4px;
  text-decoration: none;
//    vertical-align:middle;
//	display:table-cell;
}

.shadow  .image{
//	height: 150px;
	padding: 15px;
}

.shadow .btn2, .shadow .btn2:visited{
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style:italic;


	background-image: linear-gradient(bottom, rgb(0,102,153) 0%, rgb(51,122,163) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,102,153) 0%, rgb(51,122,163) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,102,153) 0%, rgb(51,122,163) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,102,153) 0%, rgb(51,122,163) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,102,153) 0%, rgb(51,122,163) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0,102,153)), color-stop(1, rgb(51,122,163)));

	/*
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-khtml-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
*/

	display: inline-block;
	text-decoration: none;
	padding: 9px 12px 0px 12px;

	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
	height:21px;
}
/*
.prev, .next{
	font-size: 3em;
	padding-left:0.6em;
	cursor:pointer;
}
*/
span.old-price{
  color: #111;
  text-decoration: line-through;
}

span.new-price{
  color: #f00;
}


@mixin rotate($degrees) {
  -moz-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  -webkit-transform: rotate($degrees);
  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}

.sale{
  position: absolute;
//  bottom:90px;
//  right:10px;
  top:60px;
  left:10px;
  font-size: 40px;
   font-weight: bolder;
  color: #f00;
 // @include rotate(-30deg);
  text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px, #000 -2px 0px 2px;
}

.free_shipping{
  color: #f00;
}

.main-img a img {
    width: 100%;
/*    max-width: 300px;*/
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.buy_button{
    max-width:150px;	
//	padding-top: 10px;
}
