.panel.panel-default
	.panel-heading
		Категории
	%ul.list-group
		-if controller.controller_name == 'products' && controller.action_name == 'index' && @category
			-if @category.children.size>0
				-@category.children.each do |cat|
					%li.list-group-item
						= link_to cat.name, category_path(cat.path, cat)
			-else
				-@category.parent.children.each do |cat|
					%li.list-group-item
						-if @category == cat
							%strong= cat.name
						-else
							= link_to cat.name, category_path(cat.path, cat)
		-elsif controller.controller_name == 'ProductsController' && controller.action_name == 'show'
		-else
			- Category.where({parent_id: nil}).each do |cat|
				%li.list-group-item
					= link_to cat.name, category_path(cat.path, cat)
