-if @filters
	.panel.panel-default
		.panel-heading
			%strong
				Фильтр
		%ul.list-group
			-@filters.keys.each do |param|
				%li.list-group-item
					=param
					%ul
						-@filters[param].each do |val|
							%li
								=val